* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: #171e26ce;
  width: 400px;
  height: 400px;
  border-radius:30px;
  padding: 10px;
  
  backdrop-filter: blur(10px);
}

.card > section {
  display: flex;
  background-color: rgba(128, 128, 128, 0.267);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 30px;
}

